// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  font-size: 100%;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --grid-columns: 4;
  --grid-gutter: 20px;
  --page-gutter: 20px;

  @include breakpoint-min('medium') {
    --grid-columns: 8;
    --page-gutter: 40px;
  }

  @include breakpoint-min('large') {
    --grid-columns: 12;
    --grid-gutter: 40px;
    --page-gutter: 80px;
  }
}

main {
  padding-top: 80px;
}


// Basic styles
a {
  display: block;
  color: $text-color;
  text-decoration: none;

  @include on-event {
    // remove styles
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

h1, h2, h3 {
  margin: 0;
}

h2 {
  font-size: $text-xl;
}

h3 {
  font-size: $text-md;
}

p {
  margin: 0;
  line-height: 1.5;
}
