// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Fonts
$text-font: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

// Colors
$text-color: #252628 !default;
$blue: #2a5bd7;
$dark-blue: #0236b9;
$really-dark-blue: #0b1736;
$light-blue: #88b1d6;
$really-light-blue: #cedafa;

// Width
$max-width: 1200px;

/// Breakpoints maps
$breakpoints-min: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

$breakpoints-max: (
  'small': 319px,
  'medium': 767px,
  'large': 1023px,
) !default;
